<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GlobalSys</title>   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/bootstrap.css">  -->
    <link rel="stylesheet" type="text/css" href="css/principal.css">
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="css/jquery.fileupload.css">
    <link rel="stylesheet" href="css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
    <style>

    </style>
  </head>
  <body>
<!--   <div id="submenu">*Portafolios de Cursos *Registro *Descarga</div> -->
   <div id="header">
    <div style="position:absolute; left:20%; width: 980px;">      
      <img src="img/LOGOliviano.png" style="position: absolute; left:10px; width: 85px;  height: 85px;"></img>

      <div style="position:absolute; left:200px; top:20px; color:#4B4B4D; font-family:Arial, Helvetica, sans-serif; letter-spacing: -1x; font-size:85%;" >
        
        <div id="INICIO"><center><b>INICIO</b></center></div>   
        <div id="LAEMPRESA" style="left:91px;"><center><b>LA EMPRESA</b></center></div>     
        <div id="SERVICIOS" style="left:182px;"><center><b>SERVICIOS</b></center></div> 
        <div id="CLIENTES" style="left:273px;"><center><b>CLIENTES</b></center></div>
        <div id="VALORES" style="left:364px;"><center><b>VALORES</b></center></div> 
        <div id="BLOG" style="left:455px;"><center><b>BLOG</b></center></div>
        <div id="CONTACTO" style="left:546px;"><center><b>CONTACTO</b></center></div>   
      </div>

    </div>
    
   </div> 
   <img src="img/flecha.png" class="girar" id="girar"> </img>
   <div id="cuerpo"> 
    <div class="contenedor" id="contenedor">
      
 

     </div>
    <div id="inicio" class="Panel">
     <div class="PanelReflejo">
        
     </div>
     <div class="BorderderechoPanelinicio" >
            <div class="ReflejoBorderderechoPanelinicio" ></div>
    </div>
     <div class="fuente_Panel"><label id="INICIO2"> INICIO</label></div>
   </div>


  <div id="programaciondecursos" class="Panel3">
     <div class="Panel3Reflejo">
        
     </div>
     <div class="BorderderechoPanel3">

      <div class="ReflejoBorderderechoPanel3"></div>

     </div>
     <div id="programaciondecursos_inputs">
          <select>
            <option>Selecion por Categoria</option>
            <option>Opcion 1</option>
            <option>Opcion 2</option>
            <option>Opcion 3</option>
            <option>Opcion 4</option>

          </select>
          <select>
            <option>Selecion por Categoria</option>
            <option>Opcion A</option>
            <option>Opcion B</option>
            <option>Opcion C</option>
            <option>Opcion D</option>
            <option>Opcion E</option>

          </select>
          <br>
          <label class="fuente" style="color: #C2C3C7;"><label>TODOS LOS CURSOS</label></label>

     </div>

     <div class="fuente_Panel" id="" >PROGRAMACION DE CURSOS</div>
   </div>


   <div  id="solicitud" class="Panel2">
     <div class="Panel2Reflejo">
        <ul style="list-style:none; position:absolute; top:-15px; left:-25px;">
          <li>Sedes Externas </li>
            
          <li> In Company</li>
        </ul>
     </div>
     <div class="BorderderechoPanel2">

      <div class="ReflejoBorderderechoPanel2"></div>

     </div>
     <div class="fuente_Panel" id="" ><label>SOLICITUD DE REGISTRO</label></div>
   </div>



   <div id="preinscripcion" class="Panel">
     <div class="PanelReflejo">
        
     </div>
     <div class="BorderderechoPanelpreinscripcion"><div class="ReflejoBorderderechoPanelpreinscripcion"></div></div>

     <div class="fuente_Panel" ><label>PREINSCRIPCION A LOS CURSOS</label></div>
   </div>

   <div id="Formadepago" class="Panel">
     <div class="PanelReflejo">
        
     </div>
     <div class="BorderderechoPanel"><div class="ReflejoBorderderechoPanel"></div></div>
     <div class="fuente_Panel"><label id="formasdepago">FORMAS DE PAGO</label></div>
   </div>

   <div id="programacion">
     <div id="cuadroprogramacion">
        <div class="arrow_boxprogramacion">
         <div id="fuente2">      
          Recibe nuestra Programacion  
          
          </div>
          </div> 
          <div id="cuadro2programacion">
             xxxxxxxxxxx xxxxxx xx xxxxxxxxx xx xxx xxxxxxxxx xxxx 
             <input type="text" id="temail" class="text" placeholder="Ingresa tu email aqui.." />            
             <input type="submit" id="benviar" class="enviar" value="Enviar" />   
          </div>

       </div>

   </div>
   <div id="postulaciones">
     <div id="cuadro">
        <div class="arrow_box">
         <div id="fuente">      
          POSTULACIONES  
          </div>
          
        </div>
        <div id="cuadro2">

             Postulate para ser uno de nuestros instructores, o para solicitar un nuevo curso.
             <div class="mas"><img src="img/mas.png" style="with:10px; height:10px; ">mas</div>
          </div>
       </div>
   </div>
    <div id="servicios">
      <div id="cuadro">
        <div class="arrow_box">
         <div id="fuente">      
          SERVICIOS QUE OFRECEMOS 
          </div>
          
        </div>
        <div id="cuadro2">
            xxxxxxxxxxx xxxxxx xx xxxxxxxxx xx xxx xxxxxxxxx xxxx 
             
             <div class="mas"><img src="img/mas.png" style="with:10px; height:10px; ">mas</div>
          </div>
       </div>
    </div>
    <div  id="instalacion">
        <div id="cuadro">
        <div class="arrow_box">
         <div id="fuente">      
          INSTALACION 
          </div>
          
        </div>
        <div id="cuadro2">

             Conoce nuestras instalaciones, descarga material de apoyo para los cursos
             <div class="mas"><img src="img/mas.png" style="with:10px; height:10px; ">mas</div>
          </div>
       </div>
    </div>   
   </div> 


     <div id="footer1">
       <div style="position:absolute; left:20%; width: 950px;" >
          <img src="img/Opcionesmenufooter2.png" style="position:absolute; width: 920px; height:41px;">
          <img src="img/audifonos.jpg" id="logofooter2">
          
          <img src="img/barra.png" id="barra">
          <div style=" position:absolute; top:81px; left:207px; width: 170px; height:110px; ">
            <label style="font-size:105%; color:#B6B6B8;">No dude en contactarnos</label>
            <label style="font-size: 60%;  font-weight: 600; color: #334667;"> GlOBALSYS</label>
            <div style="position:relative; font-size: 80%; color: white;">EMPRESA..xxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxx
           </div>
           <input type="submit" id="benviar" class="enviar" value="Mas" style="position:absolute; bottom:0px; right:0px;" />   
          </div>

          <div style=" position:absolute; top:81px; left:397px; width: 170px; height:110px; ">
            <!-- <label style="font-size:105%; color:#B6B6B8;">No dude en contactarnos</label>
            <label style="font-size: 60%;  font-weight: 600; color: #334667;"> GlOBALSYS</label> -->
            <div style="font-size: 80%; color: white;">
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
           </div>
           
          </div>
          
          <div style=" position:absolute; top:81px; left:627px; width: 170px; height:110px; ">
            <!-- <label style="font-size:105%; color:#B6B6B8;">No dude en contactarnos</label>
            <label style="font-size: 60%;  font-weight: 600; color: #334667;"> GlOBALSYS</label> -->
            <label style="font-size: 60%;  font-weight: 600; color: #334667;"> GlOBALSYS</label>
            <div style="position:relative; font-size: 80%; color: white;">EMPRESA..xxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
           </div>
           
          </div>

       </div>
     </div>


    <div id="footer2">
        <div style="position:absolute; left:20%; width: 750px; height:58px;">
          <img src="img/LOGOliviano.png" id="logofooter">   
          <label id="menunavFooter"> <a href="#"id="minicio" title="Inicio">Inicio</a>| 
                                    <a href="#" id="mlaempresa" title="La Empresa">La Empresa</a>| 
                                    <a href="#" id="mservicios" title="Servicios">Servicios</a>|
                                    <a href="#" id="mclientes" title="Clientes"> Clientes</a>|
                                    <a href="#" id="mvalores" title="Valores"> Valores</a>|
                                    <a href="#" id="mblog" title="Blog"> Blog</a>| 
                                    <a href="#" id="mcontacto" title="Contacto">Contacto</a> </label>
                                    
          <div id="Social">
            <table width="300px">
              <tr>
                <td ><a href="#" title="Hazte Fan"><img src="img/facebook.png" style="width:20px; height:20px; ">Global SYS</a></td>
                <td><a href="#" title="Siguenos "><img src="img/Twitter.png" style="width:20px; height:20px; ">@GlobalSYS</a></td>
                <td><a href="#" title="LikedIn"><img src="img/LinkedIn.png" style="width:20px; height:20px; ">GlobalSYS</a></td></tr>
            </table>
          </div>
        </div>         
    </div>
  
     
      <!-- Modal INPUT FILE -->
    <div class="modal fade " id="ModalSubirArchivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Cargar Archivos</h4>
          </div>
          <div class="modal-body">
        <!-- The file upload form used as target for the file upload widget -->
          <form id="fileupload" action="server/php" method="POST" enctype="multipart/form-data">
              <!-- Redirect browsers with JavaScript disabled to the origin page -->
              <noscript>Se necesita JavaScript para cargar archivos</noscript>
              <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
              <div class="row fileupload-buttonbar">
                  <div class="col-lg-7">
                      <!-- The fileinput-button span is used to style the file input field as button -->
                      <span class="btn btn-success fileinput-button">
                          <i class="glyphicon glyphicon-plus"></i>
                          <span>Agregar Archivos...</span>
                          <input type="file" name="files[]" multiple>
                      </span>
                      <button type="submit" class="btn btn-primary start">
                          <i class="glyphicon glyphicon-upload"></i>
                          <span>Iniciar Carga</span>
                      </button>
                      <button type="reset" class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancelar Carga</span>
                      </button>
                      <button type="button" class="btn btn-danger delete">
                          <i class="glyphicon glyphicon-trash"></i>
                          <span>Borrar</span>
                      </button>
                      <input type="checkbox" class="toggle">
                      <!-- The global file processing state -->
                      <span class="fileupload-process"></span>
                  </div>
                  <!-- The global progress state -->
                  
              </div>
              <div class="col-lg-5 fileupload-progress fade">
                      <!-- The global progress bar -->
                      <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                      </div>
                      <!-- The extended global progress state -->
                      <div class="progress-extended">&nbsp;</div>
                </div>
              <!-- The table listing the files available for upload/download -->
              <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
          </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <!-- The blueimp Gallery widget -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Iniciar</span>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancelar</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                        <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Borrar</span>
                    </button>
                    <input type="checkbox" name="delete" value="1" class="toggle">
                {% } else { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script  src="js/efectos.js" language="JavaScript"></script> 
    <script  src="js/eventos.js" language="JavaScript"></script> 
    <script type="text/javascript">
      efectos();
      eventos();
    </script>

      <!-- SCRIPT FOR INPUT FILE -->
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- blueimp Gallery script  -->
    <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload Angular JS module -->
    <script src="js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <script src="js/main.js"></script>


  </body>
</html>